{% extends "base.html" %}

{% block content %}

<div class="fp-container">

    <div class="fp-card">

        <h2>Forgot Password</h2>

        <p>Enter your registered email to receive an OTP.</p>

        <form method="POST">

            {{ form.hidden_tag() }}

            <div class="fp-group">
                {{ form.email.label }}
                {{ form.email(class="fp-input", placeholder="Enter your email") }}
            </div>

            {{ form.submit(class="fp-btn") }}

        </form>

    </div>

</div>

{% endblock %}