 {% extends "base.html" %}

{% block content %}

<div class="login-page">

    <form method="POST" class="login-box">

        {{ form.hidden_tag() }}

        <h2>Create Account</h2>

        {{ form.name(class="form-control",
                     placeholder="Full Name") }}

        {{ form.email(class="form-control",
                      placeholder="Email") }}

        {{ form.password(class="form-control",
                         placeholder="Password") }}

        {{ form.confirm_password(class="form-control",
                                 placeholder="Confirm Password") }}

        {{ form.submit(class="btn") }}

        <p>

            Already have an account?

            <a href="{{ url_for('login') }}">

                Login

            </a>

        </p>

    </form>

</div>

{% endblock %}